<!DOCTYPE html>
<html>
<head>
<title>Project</title>
</head>
<body>

<h1>PROJECTS</h1>

<table>
<tr>
  <td>NO</td>
  <td>Nama Project</td>
  <td>Status</td>
  <td>Id Spv</td>
  <td>Action</td>
<tr>


<% projects.forEach((element)=> { %>
<tr>
<td><%=element.id%></td>
<td><%=element.nama%></td>
<td><%=element.status%></td>
<td><%=element.id_spv%></td>
<td> <a href="/edit/<%=element.id%>">EDIT</a> </td>
</tr>
<%})%>
</table>

</body>
</html>
